    <!--
    Filename : footer.ejs
    Author name: Sukhmanbir Kaur
    Website name: My Favourite People
    Description: This file is footer portion of site 
-->
    
    
    <!-- footer section -->
    <section id="footer" class="footer text-center">
        <div class="container">
             <div class="row copyright">
                 <strong>&copy; <span id="current-year"></span>
		- SUKHMANBIR KAUR - All Rights Reserved.</strong>
             </div>
        </div><!-- end of div container -->
    </section><!-- end of section footer -->
    
    <!-- JavaScript Section-->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
    
</body>

</html>