<!--
    Filename : index.ejs
    Author name: Sukhmanbir Kaur
    Website name: My Favourite People
    Description: This is the landing view which is used to display landing page of the website
-->

<% include partials/header.ejs %>
    <% include partials/navbar.ejs %>

        <!-- main content -->
        <main>
        
        <section id="landing-page">
            <div class="container text-center">
            <h1 class="main-heading">
                My Favourite People
            </h1>
            <h2>Most awesome people I know till date after my <span>PARENTS</span> and of course <span>MYSELF!</span></h2>
            <h1 class="emoji"><span><i class="fa fa-smile-o"></i></span></h1>
            </div>
        </section>
        
        </main>
        
        <% include partials/footer.ejs %>