<!--
    Filename : index.ejs
    Author name: Sukhmanbir Kaur
    Website name: My Favourite People
    Description: This is the landing view which is used to display landing page of the website
-->

<% include partials/header.ejs %>
    <% include partials/navbar.ejs %>

        <!-- main content -->
        <main>
        
        </main>
        
        <% include partials/footer.ejs %>