<!--
    Filename : people.ejs
    Author name: Sukhmanbir Kaur
    Website name: My Favourite People
    Description: This is the people's view which is used to display my favourite people page of the website
-->

<% include partials/header.ejs %>
    <% include partials/navbar.ejs %>

        <!-- main content -->
        <main>
        
        <section id="people" class="people about text-center">
                <div class="container">
                    <h1 class="items-heading">The Awesome Personalities!</h1>
                    <div class="row items">
                        <div class="item col-md-6 col-lg-4">
                            <img src="/Assets/images/1.jpg" alt="">
                            <h4>Selena Gomez</h4>
                            <p>She is an American singer and actress. Born and raised in Grand Prairie, Texas, she was first featured on the children's series Barney & Friends in the early 2000s. In 2007, Gomez came to prominence after being cast in the Disney Channel series Wizards of Waverly Place, in which she starred as the lead character, Alex Russo, until its conclusion in 2012.</p>
                        </div>
                        <!-- item end -->

                        <div class="item col-md-6 col-lg-4">
                            <img src="/Assets/images/2.jpg" alt="">
                            <h4>Demi Lovato</h4>
                            <p>She  is an American singer, songwriter, actress and model who made her debut as a child actress in Barney & Friends. In 2008, Lovato rose to prominence in the Disney Channel television film Camp Rock and signed a recording contract with Hollywood Records.</p>
                        </div>
                        <!-- item end -->

                        <div class="item col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s">
                            <img src="/Assets/images/3.jpg" alt="">
                           <h4>Bill Gates</h4>
                            <p>He is an American business magnate, philanthropist, investor, and computer programmer. Gates and Paul Allen co-founded Microsoft, which became the world's largest PC software company.</p>
                        </div>
                    </div>
                    <!-- end of row -->
                </div>
                <!-- end of div container -->
            </section>
        
        </main>

        <% include partials/footer.ejs %>