/**
    Filename : footer.ejs
    Author name: Sukhmanbir Kaur
    Website name: My Favourite People
    Description: This file is custom css file of the website 
**/

/* main page */

.main-heading {
    padding-top: 120px;
    font-size: 40px;
    font-weight: 800;
}

#landing-page span {
    color: dodgerblue;
    font-weight: 700;
}

.emoji {
    font-size: 150px;
}

/* people's page */

.items {
    margin-top: 40px;
}

img {
    width: 200px;
    height: 200px;
}

/* contact page */

.bigicon {
    font-size: 30px;
}

/* footer */

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   padding-top: 15px;
   padding-bottom: 15px;
   background: #e7e7e7;
   opacity: 50%;
}